#dropdown {
  .dropdown-submenu-open {
    border-color: lighten($board-tasks-bg, 10);
    background-color: $board-tasks-bg;

    .color-picker-square {
      padding-right: 10px;
      border-radius: 50%;
    }

    .fa {
      display: none;
    }

    a,
    i {
      color: $default-dark-color;
    }

    li {
      display: flex;
      align-items: center;
      border-color: lighten($board-tasks-bg, 10);

      strong {
        justify-content: center;
      }

      &:not(.no-hover) {
        &:hover,
        &:focus {
          color: inherit;
          background-color: darken($board-tasks-bg, 10);
        }
      }
    }
  }
}

.dropdown-menu-link-text,
.dropdown-menu-link-icon {
  color: $primary-color;
}
