.file-thumbnail {
  .js-image-slideshow-rendered {
    margin-bottom: 5px;
  }

  .file-thumbnail-content {
    .file-thumbnail-title .dropdown a {
      color: $primary-color;

      i {
        color: white;
      }

      &:hover {
        text-decoration: none;
        color: $default-dark-color;

        i {
          color: white;
        }
      }
    }

    .file-thumbnail-description {
      color: $default-dark-color;
    }
  }
}
