.form-login {
  margin: 10% auto 0;

  h2 {
    text-align: center;
    font-weight: 500;
  }

  form {
    padding: 2rem;
    background-color: inherit;
    border-radius: 5px;
    // box-shadow: 0px 15px 15px 5px rgba(187, 218, 247, .25);
    border: 1px solid $board-tasks-bg;

    a {
      color: inherit;
      text-decoration: none;
      
      &:hover,
      &:focus {
      text-decoration: underline;

      }
    }

    img {
      margin-bottom: 10px;
      
    }

    .form-actions {

      button {
        width: 100%;
        background-color: #539bff;
        color: #fff;
        border-color: #539bff;

      }
    }

    .reset-password {
      text-align: center;
      margin-top: 10px;
      font-size: 0.8rem;
    }

    label[for="form-username"],
    label[for="form-password"] {
      &::after {
        margin-left: 3px;
        content: '*'
      }
    }
  }
  li {
    line-height: 14px;
    font-size: 14px;
    line-height: initial;
  }
}

.page.two-factor {

  .page-header {
    margin: 0 0 0 -15px;
    padding-left: 15px;

  }

  form {
    margin-top: 60px;

  }
}